#IntelliJ project files

.idea/
*.iml
*.ipr
*.iws

# 名称附带/, 代表文件夹
out/
bin/
gen/
local.properties

#Android Studio

build/
.gradle

#Eclipse project files

.project
.settings/
.classpath

# OS gen

.BS_Stroe
Thumbs.db

# Temp files 一些临时文件

*.bak
*.tmp
*.temp
*.vpp~*
*.*~
~*.*